main {
    margin-block: 30px;
    background-color: #D9D9D9;
    padding-block-end: 30px;
}
header {
    padding-block-start: 20px;
    text-align: center;
}
header h1 {
    font-size: 42px;
}
.section-image {
    background-color: #FFFFFE;
    margin-inline: 15px;
}
.section-image figure {
    max-width: 1300px;
    padding-block: 10px;
    margin-inline: auto;
}
#image {
    max-width: 100%;
}
#img-div {
    padding-inline: 10px;
    text-align: center;
}
#tribute-info {
    max-width: 600px;
    margin: auto;
    padding-inline: 10px;
    padding-block-start: 20px;
}
#tribute-info li {
    padding-block: 10px;
    line-height: 25px;
}
footer {
    text-align: center;
    padding-block-start: 25px;
    font-size: 22px;
}
blockquote {
    font-style: oblique;
}